* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #14dfbd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #f80b9d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(131, 2, 34, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.password-display {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    border: 1px solid #4d0319;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2316a0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #a70cce;
}

.options {
    margin-bottom: 20px;
}

.options label {
    display: block;
    margin-bottom: 5px;
}

.length {
    margin-top: 10px;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    margin-left: 10px;
}
