/* style.css */
body {
    font-family: 'Arial', sans-serif;
    background-color:skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
    
}

.clock {
    font-size: 60px;
    padding: 20px;
    background-color:goldenrod;
    border-radius: 220px;
    box-shadow: pink(0, 0, 0, 0.3);
}

#time {
    text-align: center;
}
